@import '../../theme/variables';
@import '../../theme/custom-mixins';

.title-section-min {
  margin-bottom: 20px;
  font-size: 1.65rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 16px;
    font-size: 1.45rem;
  }
}