@import '../../theme/variables';
@import '../../theme/custom-mixins';

.title-section {
  margin-bottom: 30px;
  font-size: 2.25rem;
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 26px;
    font-size: 1.75rem;
  }
}