@import "../../theme/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 30px;
  padding: 6px 12px;
  border: 1px solid #fff;
  color: #fff;
  background-color:$color-business-main;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #fff;
    border-color: $color-business-main;
    color: $color-business-main;
    text-decoration: none;
  }
  &:active {
    outline: none;
  }
}