// custom
$header-height: 50px !default;

// custom colors
$color-font: #484343 !default;
$color-business-main: #ff6d3a !default;

// bootstrap
$body-bg: #eefdee !default;
$body-color: #484343 !default;
$primary: $color-business-main !default;
$font-family-base: 'Lato', sans-serif;

$grid-gutter-width: 30px !default;
$grid-gutter-width-min: 16px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1340px,
) !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$form-grid-gutter-width: 20px !default;
$form-group-margin-bottom: 20px !default;


