@import '../../theme/variables';

.cart {
  &-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
    border-top: 1px solid $gray-300;
    padding-top: 24px;
    &__value {
      display: flex;
      justify-content: flex-end;
      span {
        display: inline;
      }
    }
  }
}