@import "../../theme/variables";

.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: $color-business-main;
    z-index: 10;
    color: #fff;
    &__link {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        line-height: 1;
        &:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
            text-decoration: none;
        }
    }
    &__sign {
        &-delimiter {
            margin: 0 5px;
        }
    }
    &__auth {
        margin-right: 20px;
    }
    &__icons {
        align-items: center;
        display: flex;
    }
    .icon {
        fill: #fff;
        width: 32px;
        height: 32px;
        stroke: #fff;
        stroke-width: 10px;
        margin-left: 30px;
        &-cart {
            position: relative;
        }
    }
    &__logo {
        &-link {
            color: #fff;
            font-size: 28px;
            letter-spacing: 5px;
            text-decoration: none !important;
            span {
                color: #9e2500;
                font-weight: bold;
                letter-spacing: 1px;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    &__content {
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        justify-content: space-between;
    }
}

.cart {
    &-icon {
        position: relative;
    }
    &-indicator {
        position: absolute;
        bottom: -3px;
        right: -5px;
        width: 22px;
        height: 22px;
        text-align: center;
        background-color: #fff;
        border-radius: 100%;
        font-size: 12px;
        color: $color-font;
        line-height: 22px;
    }
}