@import '../../theme/variables';
@import '../../theme/custom-mixins';

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-left: -8px;
    margin-right: -8px;
  }
  &-col {
    padding: 0 10px;
    @include media-breakpoint-down(sm) {
      padding: 0 8px;
    }
  }
  &__name {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    @include media-breakpoint-down(sm) {
      flex-basis: calc(100% - 100px);
      margin-bottom: 10px;
    }
    &-title {
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 1.2rem;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
        margin-bottom: 3px;
      }
    }
    &-composition {
      margin: 0;
      @include media-breakpoint-down(md) {
        font-size: 0.75rem;
      }
    }
  }
  &__img {
    width: 120px;
    @include media-breakpoint-down(md) {
      width: 100px;
    }
  }
  &__amount {
    width: 230px;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(lg) {
      width: 140px;
    }
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
  &__price {
    width: 100px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
  &__price-total {
    width: 100px;
    text-align: center;
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
}