@import "../../theme/variables";
@import '../../theme/custom-mixins';

.container-bg {
  background-color: #fff;
  padding: 26px 26px 36px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 28px;
  }
}
