@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "theme/variables";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/utilities/spacing";

@import "theme/custom-mixins";

.section-bottom {
  margin-bottom: 20px;
}

.col-margin-bottom {
  margin-bottom: $grid-gutter-width;
  @include media-breakpoint-down(sm) {
    margin-bottom: $grid-gutter-width-min;
  }
}

@include media-breakpoint-down(sm) {
  .row {
    @include make-row($grid-gutter-width-min);
  }
  .col,
  [class*="col-"] {
    padding-right: $grid-gutter-width-min / 2;
    padding-left: $grid-gutter-width-min / 2;
  }
}

